.light {
    border-radius: 50%;
    border-width: 20px;
    border-color: #C05621;
    border-style: solid;
}

.dark {
    border-radius: 50%;
    border-width: 20px;
    border-color: #B794F4;
    border-style: solid;
}